<% provide(:title, 'WomenWhoCode') %>
<% flash.each do |key, value| %>
  <div class ="alert-<%= key%>"><%= value %></div>
<% end %>
<h1>Hello Ruby Tuesdays!</h1>
<p>by Women Who Code</p>

<% if not user_signed_in? %>
  <%= link_to "Sign up", signup_path, class: "btn" %>

  <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %>
<% else %>
  <h3>See our <%= link_to 'featured tutorials!', tutorials_path %></h3>
  <div id="tag_cloud">
    Tags!  Check out what we're posting:<br/>
    <% tag_cloud tag_counts_combined, ['tag-sm', 'tag-med', 'tag-lg'] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: "#{css_class}", role: 'button'%>
    <% end %>
  </div>
  <%= link_to 'See all links', links_path %>
  <br/>
  <%= link_to 'See all events', events_path %>
<% end %>