<header class="navigation">
  <div class="navigation-wrapper">
    <%= link_to "Hello Ruby Tuesdays!", root_path, class: "logo", id: "logo" %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li class="nav-link"><%= link_to 'Events', events_path %></li>
          <li class="nav-link"><%= link_to "Links",  links_path %></li>
          <li class="nav-link more"><a href="#">Account</a>
            <ul class="submenu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li><%= link_to "Edit Profile", users_edit_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", signout_path %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-link"><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>